.App {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tw-followCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: .8rem;
}

.tw-followCard-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCard-info {
    display: flex;
    flex-direction: column;
}

.tw-followCard-infoUsername {
    opacity: .6;
}

.tw-followCard-avvatar {
    width: 48px;
    height: 48px;
    border-radius: 100px;
}

.tw-followCard-button {
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s ease background-color;
}

.tw-followCard-button.is-following {
    border: 1px solid red;
}


.tw-followCard-button:hover {
    background-color: #09f;

}

.tw-followCard-button.is-following:hover {
    background: red;
}